body{

    padding: 0px;
    margin: 0px;

}
/*.main{*/

    /*width: 80%;*/
    /*margin: 48px auto;*/
/*}*/
.quotes{

    width: 80%;
    margin: auto;
    text-align: center;
}

.edit-quotes{

    width: 30%;
    margin: auto;
    text-align: center;
}

h1{
    text-align: center;
    font-weight: bold;
}

.quote{

    position: relative;
    display: inline-block;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px #ccc;
    margin: 10px;
    padding: 25px;
    vertical-align: top;
    background-color:lightpink;
    color: black;

}
.quote .first-in-line{
    margin-left: 0;
}
.quote .last-in-line{
    margin-right: 0;
}

.quote .info{
    margin-top: 15px;
    font-size: 15px;
}

.info a{
    color: red;
}
.info a:active,.info a:hover{
    color: yellow;

}
.input1{
    width: 50%;

}
.one{
    text-align: center;
}

.pagination{
    font-size: 30px;
    width: 80%;
    margin: auto;
}

.pagination a{
    color:black;
    text-decoration: none;

}

.pagination a:hover,
.pagination a:active{

    color: red;
}
 i.ic{

  text-align: center;
}














